*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}


.wrap{
    overflow: hidden;
}
/*body{
	font-family: 'Roboto Slab', serif;
}*/
header{
	width: 90%;
	height: 70px;
	margin: 0 auto;
	background-color: skyblue;
}

h1{
    color: #FAFAFA;
    line-height: 70px;
    text-align: center;
}

h2{
    color: #FAFAFA;
    line-height: 70px;
    text-align: center;
}

h3{
    color: red;
    line-height: 50px;
    text-align: center;
}


.content{
	width: 100%;
	margin: 0 auto;
}
/*.header_logo{
	float:left;
	height: 70px;
	margin-left: 2%;
}*/

.container1{
    width: 90%;
    height: 1920px;
    margin:0 auto;
    padding: 50px 0 50px 0;
    background-color: silver;
}

.box1{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: red;
}

.button{
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    background-color: steelblue;
}

.box{
    display: none;
    margin-top: 30px;
    width: 300px;
    height: 300px;
    background-color: lime;
}



.box2{
    margin: 0 0 0 400px;
    width: 300px;
    height: 300px;
    background-color: lime;
    display:inline-block;
}

p{
    display: none;
    width: 300px;
    height: 300px;
    color: white;
    background-color: rgba(0,0,0,0.5);
}


/*■【Contents7】*/

.box-group{
    width: 600px;
    margin: 100px auto;
}

.box3{
    float: left;
    width: 200px;
    height: 200px;
    background-color: lime;
    border: 1px solid gray;
}

.box33{
    float: left;
    width: 200px;
    height: 200px;
    background-color: lime;
    border: 1px solid gray;
}

p{
    display: none;
    width: 200px;
    height: 200px;
    color: white;
    background-color: rgba(0,0,0,0.5);
}








.footer{
	width: 90%;
    height: 60px;
    margin: 0 auto;
    background-color: skyblue;
}

.footer_content{
	width: 100%;
    margin: 0 auto;
    color: #FAFAFA;
    text-align: center;
    line-height: 60px
}


@media all and (max-width: 767px){
    .header_menu-list{
        display: none;
    }

    .footer_content{
        margin:0 auto;
        text-align: center;
    }
}



